# Allstate Claims Severity

## Initialization

In [147]:
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.grid_search import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
import matplotlib.pyplot as plt
%matplotlib inline

In [141]:
from sklearn.metrics import mean_absolute_error

## Data preparation

In [2]:
train = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test.csv')
sample = pd.read_csv('../data/sample_submission.csv')

In [7]:
train.head()

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14,loss
0,1,A,B,A,B,A,A,A,A,B,...,0.718367,0.335060,0.30260,0.67135,0.83510,0.569745,0.594646,0.822493,0.714843,2213.18
1,2,A,B,A,A,A,A,A,A,B,...,0.438917,0.436585,0.60087,0.35127,0.43919,0.338312,0.366307,0.611431,0.304496,1283.60
2,5,A,B,A,A,B,A,A,A,B,...,0.289648,0.315545,0.27320,0.26076,0.32446,0.381398,0.373424,0.195709,0.774425,3005.09
3,10,B,B,A,B,A,A,A,A,B,...,0.440945,0.391128,0.31796,0.32128,0.44467,0.327915,0.321570,0.605077,0.602642,939.85
4,11,A,B,A,B,A,A,A,A,B,...,0.178193,0.247408,0.24564,0.22089,0.21230,0.204687,0.202213,0.246011,0.432606,2763.85

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188318 entries, 0 to 188317
Columns: 132 entries, id to loss
dtypes: float64(15), int64(1), object(116)
memory usage: 189.7+ MB

In [13]:
train.columns

Index(['id', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8',
       'cat9',
       ...
       'cont6', 'cont7', 'cont8', 'cont9', 'cont10', 'cont11', 'cont12',
       'cont13', 'cont14', 'loss'],
      dtype='object', length=132)

In [14]:
test.head()

,id,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13,cont14
0,4,A,B,A,A,A,A,A,A,B,...,0.281143,0.466591,0.317681,0.61229,0.34365,0.38016,0.377724,0.369858,0.704052,0.392562
1,6,A,B,A,B,A,A,A,A,B,...,0.836443,0.482425,0.443760,0.71330,0.51890,0.60401,0.689039,0.675759,0.453468,0.208045
2,9,A,B,A,B,B,A,B,A,B,...,0.718531,0.212308,0.325779,0.29758,0.34365,0.30529,0.245410,0.241676,0.258586,0.297232
3,12,A,A,A,A,B,A,A,A,A,...,0.397069,0.369930,0.342355,0.40028,0.33237,0.31480,0.348867,0.341872,0.592264,0.555955
4,15,B,A,A,A,A,B,A,A,A,...,0.302678,0.398862,0.391833,0.23688,0.43731,0.50556,0.359572,0.352251,0.301535,0.825823

In [15]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125546 entries, 0 to 125545
Columns: 131 entries, id to cont14
dtypes: float64(14), int64(1), object(116)
memory usage: 125.5+ MB

In [16]:
test.columns

Index(['id', 'cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8',
       'cat9',
       ...
       'cont5', 'cont6', 'cont7', 'cont8', 'cont9', 'cont10', 'cont11',
       'cont12', 'cont13', 'cont14'],
      dtype='object', length=131)

In [19]:
train.cat5.value_counts()

A    123737
B     64581
Name: cat5, dtype: int64

In [3]:
sample.head()

   id  loss
0   4     0
1   6     0
2   9     0
3  12     0
4  15     0

In [65]:
[train[w].value_counts() for w in train]

[550437    1
 251600    1
 210636    1
 200395    1
 204489    1
 224967    1
 312608    1
 489156    1
 483009    1
 218816    1
 409747    1
 577697    1
 310973    1
 46780     1
 36539     1
 269627    1
 38584     1
 321206    1
 268981    1
 315059    1
 313010    1
 474829    1
 489575    1
 565169    1
 509650    1
 285066    1
 132842    1
 138985    1
 453107    1
 159463    1
          ..
 305984    1
 457316    1
 213821    1
 409340    1
 228154    1
 484153    1
 326229    1
 262997    1
 6998      1
 4951      1
 101220    1
 334441    1
 540768    1
 117612    1
 127851    1
 123753    1
 560134    1
 542817    1
 361317    1
 111459    1
 289624    1
 369505    1
 371552    1
 21343     1
 419575    1
 17245     1
 281436    1
 29531     1
 31578     1
 414301    1
 Name: id, dtype: int64, A    141550
 B     46768
 Name: cat1, dtype: int64, A    106721
 B     81597
 Name: cat2, dtype: int64, A    177993
 B     10325
 Name: cat3, dtype: int64, A    128395
 B     59923
 Name: cat4, dtype: int64, A    123737
 B     64581
 Name: cat5, dtype: int64, A    131693
 B     56625
 Name: cat6, dtype: int64, A    183744
 B      4574
 Name: cat7, dtype: int64, A    177274
 B     11044
 Name: cat8, dtype: int64, A    113122
 B     75196
 Name: cat9, dtype: int64, A    160213
 B     28105
 Name: cat10, dtype: int64, A    168186
 B     20132
 Name: cat11, dtype: int64, A    159825
 B     28493
 Name: cat12, dtype: int64, A    168851
 B     19467
 Name: cat13, dtype: int64, A    186041
 B      2277
 Name: cat14, dtype: int64, A    188284
 B        34
 Name: cat15, dtype: int64, A    181843
 B      6475
 Name: cat16, dtype: int64, A    187009
 B      1309
 Name: cat17, dtype: int64, A    187331
 B       987
 Name: cat18, dtype: int64, A    186510
 B      1808
 Name: cat19, dtype: int64, A    188114
 B       204
 Name: cat20, dtype: int64, A    187905
 B       413
 Name: cat21, dtype: int64, A    188275
 B        43
 Name: cat22, dtype: int64, A    157445
 B     30873
 Name: cat23, dtype: int64, A    181977
 B      6341
 Name: cat24, dtype: int64, A    169969
 B     18349
 Name: cat25, dtype: int64, A    177119
 B     11199
 Name: cat26, dtype: int64, A    168250
 B     20068
 Name: cat27, dtype: int64, A    180938
 B      7380
 Name: cat28, dtype: int64, A    184593
 B      3725
 Name: cat29, dtype: int64, A    184760
 B      3558
 Name: cat30, dtype: int64, A    182980
 B      5338
 Name: cat31, dtype: int64, A    187107
 B      1211
 Name: cat32, dtype: int64, A    187361
 B       957
 Name: cat33, dtype: int64, A    187734
 B       584
 Name: cat34, dtype: int64, A    188105
 B       213
 Name: cat35, dtype: int64, A    156313
 B     32005
 Name: cat36, dtype: int64, A    165729
 B     22589
 Name: cat37, dtype: int64, A    169323
 B     18995
 Name: cat38, dtype: int64, A    183393
 B      4925
 Name: cat39, dtype: int64, A    180119
 B      8199
 Name: cat40, dtype: int64, A    181177
 B      7141
 Name: cat41, dtype: int64, A    186623
 B      1695
 Name: cat42, dtype: int64, A    184110
 B      4208
 Name: cat43, dtype: int64, A    172716
 B     15602
 Name: cat44, dtype: int64, A    183991
 B      4327
 Name: cat45, dtype: int64, A    187436
 B       882
 Name: cat46, dtype: int64, A    187617
 B       701
 Name: cat47, dtype: int64, A    188049
 B       269
 Name: cat48, dtype: int64, A    179127
 B      9191
 Name: cat49, dtype: int64, A    137611
 B     50707
 Name: cat50, dtype: int64, A    187071
 B      1247
 Name: cat51, dtype: int64, A    179505
 B      8813
 Name: cat52, dtype: int64, A    172949
 B     15369
 Name: cat53, dtype: int64, A    183762
 B      4556
 Name: cat54, dtype: int64, A    188173
 B       145
 Name: cat55, dtype: int64, A    188136
 B       182
 Name: cat56, dtype: int64, A    185296
 B      3022
 Name: cat57, dtype: int64, A    188079
 B       239
 Name: cat58, dtype: int64, A    188018
 B       300
 Name: cat59, dtype: int64, A    187872
 B       446
 Name: cat60, dtype: int64, A    187596
 B       722
 Name: cat61, dtype: int64, A    188273
 B        45
 Name: cat62, dtype: int64, A    188239
 B        79
 Name: cat63, dtype: int64, A    188271
 B        47
 Name: cat64, dtype: int64, A    186056
 B      2262
 Name: cat65, dtype: int64, A    179982
 B      8336
 Name: cat66, dtype: int64, A    187626
 B       692
 Name: cat67, dtype: int64, A    188176
 B       142
 Name: cat68, dtype: int64, A    188011
 B       307
 Name: cat69, dtype: int64, A    188295
 B        23
 Name: cat70, dtype: int64, A    178646
 B      9672
 Name: cat71, dtype: int64, A    118322
 B     69996
 Name: cat72, dtype: int64, A    154275
 B     34017
 C        26
 Name: cat73, dtype: int64, A    184731
 B      3561
 C        26
 Name: cat74, dtype: int64, A    154307
 B     34010
 C         1
 Name: cat75, dtype: int64, A    181347
 B      6183
 C       788
 Name: cat76, dtype: int64, D    187503
 C       408
 B       358
 A        49
 Name: cat77, dtype: int64, B    186526
 A       788
 C       645
 D       359
 Name: cat78, dtype: int64, B    152929
 D     26657
 A      7064
 C      1668
 Name: cat79, dtype: int64, D    137505
 B     46538
 C      3492
 A       783
 Name: cat80, dtype: int64, D    154385
 B     24132
 C      9013
 A       788
 Name: cat81, dtype: int64, B    147536
 A     19322
 D     18805
 C      2655
 Name: cat82, dtype: int64, B    141534
 A     26038
 D     15788
 C      4958
 Name: cat83, dtype: int64, C    154939
 A     29450
 D      3498
 B       431
 Name: cat84, dtype: int64, B    186005
 C      1011
 A       788
 D       514
 Name: cat85, dtype: int64, B    103852
 D     72587
 C     10290
 A      1589
 Name: cat86, dtype: int64, B    166992
 D     11719
 C      8819
 A       788
 Name: cat87, dtype: int64, A    168926
 D     19302
 E        83
 B         7
 Name: cat88, dtype: int64, A    183744
 B      4312
 C       220
 D        33
 E         5
 I         2
 H         1
 G         1
 Name: cat89, dtype: int64, A    177993
 B      9515
 C       728
 D        70
 E         6
 F         4
 G         2
 Name: cat90, dtype: int64, A    111028
 B     42630
 G     26734
 C      6400
 D      1149
 E       254
 F        97
 H        26
 Name: cat91, dtype: int64, A    124689
 H     62901
 B       628
 C        62
 I        26
 D        11
 F         1
 Name: cat92, dtype: int64, D    150237
 C     35788
 B      1133
 E       728
 A       432
 Name: cat93, dtype: int64, D    121642
 B     51710
 C     13623
 A       738
 F       494
 E        91
 G        20
 Name: cat94, dtype: int64, C    87531
 D    79525
 E    17417
 A     3736
 B      109
 Name: cat95, dtype: int64, E    174360
 D      7922
 B      2957
 G      2665
 F       343
 A        35
 C        24
 I        12
 Name: cat96, dtype: int64, C    78127
 E    47450
 A    41970
 G    16745
 D     3779
 F      213
 B       34
 Name: cat97, dtype: int64, A    105492
 D     50557
 C     21485
 E     10242
 B       542
 Name: cat98, dtype: int64, P    79455
 T    72591
 R    10290
 D     8844
 S     7045
 N     2894
 K     2703
 F     2702
 E     1034
 C      310
 J      245
 H       93
 M       52
 I       38
 G       19
 O        3
 Name: cat99, dtype: int64, F    42970
 I    39933
 L    19961
 K    13817
 G    12935
 J    12027
 H    10776
 A     9402
 N     7592
 B     6608
 O     5697
 M     5185
 C      836
 D      553
 E       26
 Name: cat100, dtype: int64, A    106721
 D     17171
 C     16971
 G     10944
 F     10139
 J      7259
 I      6690
 M      3669
 L      3173
 Q      2762
 O      2493
 S       173
 R       138
 E         7
 B         3
 K         2
 H         1
 N         1
 U         1
 Name: cat101, dtype: int64, A    177274
 B      5155
 C      4929
 E       482
 D       449
 G        15
 F        12
 H         1
 J         1
 Name: cat102, dtype: int64, A    123737
 B     33342
 C     16508
 D      7806
 E      4473
 F      1528
 G       550
 H       190
 I       109
 J        45
 L        17
 K        11
 N         2
 Name: cat103, dtype: int64, E    42925
 G    40660
 D    27611
 F    19228
 H    17187
 K    14297
 I    10919
 C     6949
 L     3486
 J     3138
 M     1156
 O      409
 N      153
 P       86
 A       68
 B       43
 Q        3
 Name: cat104, dtype: int64, E    76493
 F    62892
 G    20613
 D    12172
 H    11258
 I     2941
 J      694
 K      486
 C      275
 M      171
 L      145
 A       77
 N       64
 P       15
 O        9
 B        5
 Q        4
 R        2
 S        1
 T        1
 Name: cat105, dtype: int64, G    47165
 H    37713
 F    36143
 I    21433
 J    18281
 E    13000
 K     7958
 L     2971
 D     1934
 M     1176
 N      231
 C      129
 A       75
 O       66
 R       32
 B        9
 P        2
 Name: cat106, dtype: int64, F    47310
 G    28560
 H    23461
 J    22405
 K    20236
 I    20066
 E    12521
 L     6976
 D     3225
 M     2067
 N      797
 C      213
 Q      140
 O      125
 P      100
 A       75
 U       32
 R        5
 B        2
 S        2
 Name: cat107, dtype: int64, B    65512
 K    42435
 G    21421
 D    19160
 F    10242
 A     9299
 E     7968
 I     7243
 H     4305
 C      520
 J      213
 Name: cat108, dtype: int64, BI    152918
 AB     21933
 BU      3142
 K       2999
 G       1353
 BQ      1067
 N        461
 M        446
 BO       329
 BH       257
 D        214
 AR       208
 AT       200
 CL       178
 AS       159
 AL       151
 R        149
 CD       143
 F        124
 BL       122
 CI       109
 I         94
 L         89
 U         78
 AW        74
 H         73
 CA        66
 Q         66
 BX        61
 T         59
        ...
 BC        14
 CK        13
 CF        12
 V         11
 BS         9
 AY         9
 CJ         8
 CE         8
 P          8
 CG         8
 AF         8
 AP         7
 CH         6
 AV         6
 BE         5
 BY         3
 BG         3
 BN         2
 BV         2
 BM         2
 AO         2
 BT         2
 BF         1
 AG         1
 BP         1
 AK         1
 B          1
 J          1
 ZZ         1
 CB         1
 Name: cat109, dtype: int64, CL    25305
 EG    24654
 CS    24592
 EB    21396
 CO    17495
 BT    16365
 EL     9236
 BC     4131
 DW     3640
 CQ     3271
 DX     3096
 AI     2965
 BP     2867
 W      2703
 C      2681
 AC     2611
 CM     1925
 BS     1920
 DK     1745
 V      1692
 A      1296
 EE     1185
 EF     1159
 CI     1066
 DM      796
 CR      767
 AM      643
 AD      626
 AP      576
 T       529
       ...
 CD        8
 ED        8
 H         8
 AG        7
 BB        6
 CX        6
 BU        4
 DB        4
 AH        4
 EK        4
 Q         3
 DD        3
 AF        3
 AN        3
 DT        3
 EI        2
 BN        2
 CU        2
 BV        2
 DN        2
 EJ        2
 BM        1
 AS        1
 CB        1
 DV        1
 BK        1
 BD        1
 S         1
 EH        1
 BI        1
 Name: cat110, dtype: int64, A    128395
 C     32401
 E     14682
 G      7039
 I      3578
 K      1353
 M       473
 O       221
 Q        91
 S        38
 W        16
 U        16
 B         7
 F         3
 D         3
 Y         2
 Name: cat111, dtype: int64, E     25148
 AH    18639
 AS    17669
 J     16222
 AF     9368
 AN     9138
 N      8453
 U      8356
 AV     7122
 AK     6726
 K      6059
 AI     4749
 S      4201
 AP     4000
 G      3168
 F      3149
 AW     3145
 A      2411
 AR     2365
 C      2257
 O      2183
 D      1645
 AD     1531
 AY     1414
 Y      1351
 AG     1331
 AT     1272
 AA     1241
 AM     1170
 AL     1130
 R      1123
 AX     1074
 I       940
 X       925
 AE      834
 Q       793
 V       693
 H       548
 AO      534
 T       521
 L       493
 W       461
 AC      454
 M       439
 AU      434
 B       423
 P       406
 AB      246
 BA      190
 AJ      144
 AQ       30
 Name: cat112, dtype: int64, BM    26191
 AE    22030
 L     13058
 AX    12661
 Y     11374
 K      7738
 S      7033
 X      7016
 AF     6079
 AN     5214
 H      5094
 AT     4664
 AJ     4425
 AD     4419
 AS     3901
 AK     3520
 BN     3486
 I      3279
 A      3269
 J      3105
 N      2839
 BC     2793
 Q      2784
 BJ     2605
 M      2485
 AG     2415
 AW     1825
 BG     1804
 AU     1630
 AO     1628
       ...
 BO     1413
 BH     1221
 BK      693
 AV      528
 AY      466
 AM      450
 AI      440
 BF      347
 BD      337
 AH      209
 C       143
 BB       53
 BA       42
 BI       32
 G        18
 AB       18
 AQ       17
 V        15
 U        11
 O        10
 E         7
 AP        6
 BE        3
 AL        3
 BL        3
 T         2
 AR        1
 P         1
 AC        1
 B         1
 Name: cat113, dtype: int64, A    131693
 C     16793
 E     16475
 J      8199
 F      7905
 N      2455
 I      2432
 R       912
 L       870
 U       250
 O       240
 Q        43
 V        33
 B         6
 D         5
 S         4
 X         1
 W         1
 G         1
 Name: cat114, dtype: int64, K    43866
 O    26813
 J    23895
 N    22438
 P    21538
 L    16125
 M    12444
 Q     8258
 I     7090
 H     2793
 R     2038
 G      315
 F      269
 S      250
 A       75
 T       56
 U       26
 E       11
 W        6
 X        5
 D        4
 B        2
 C        1
 Name: cat115, dtype: int64, HK    21061
 DJ    20244
 CK    10162
 DP     9202
 GS     8736
 CR     6862
 HX     5629
 DC     4557
 HG     4414
 IE     4225
 HQ     4044
 HV     3853
 GC     3803
 LM     3277
 LB     3194
 LN     3127
 KW     3085
 HJ     2741
 GK     2632
 DF     2519
 IG     2269
 LO     2082
 HB     2007
 MD     1960
 CB     1909
 LF     1873
 GI     1835
 BY     1620
 KC     1513
 GE     1399
       ...
 JO        1
 HO        1
 JT        1
 JA        1
 AR        1
 AH        1
 FI        1
 AP        1
 FO        1
 AS        1
 BF        1
 JN        1
 MH        1
 DQ        1
 KH        1
 MS        1
 BG        1
 FM        1
 MT        1
 FS        1
 AM        1
 BI        1
 IX        1
 KS        1
 DY        1
 JI        1
 EQ        1
 JD        1
 AT        1
 FP        1
 Name: cat116, dtype: int64, 0.475784    5862
 0.503312    3257
 0.325401    2980
 0.546670    2902
 0.330514    2742
 0.484469    2706
 0.480125    2550
 0.894333    2261
 0.465671    2083
 0.629339    2061
 0.513457    1996
 0.458463    1901
 0.496063    1839
 0.452710    1754
 0.455585    1713
 0.642763    1592
 0.497513    1567
 0.305371    1537
 0.351358    1527
 0.655966    1498
 0.312802    1464
 0.324129    1440
 0.338258    1434
 0.470002    1424
 0.490265    1415
 0.281338    1383
 0.634734    1361
 0.636078    1330
 0.471447    1318
 0.284869    1303
             ...
 0.934129       1
 0.100609       1
 0.865672       1
 0.960061       1
 0.967705       1
 0.911102       1
 0.170575       1
 0.257382       1
 0.760552       1
 0.067156       1
 0.414278       1
 0.091549       1
 0.129395       1
 0.236890       1
 0.119297       1
 0.822395       1
 0.774011       1
 0.062925       1
 0.968775       1
 0.075199       1
 0.858079       1
 0.825758       1
 0.068624       1
 0.336961       1
 0.970149       1
 0.385068       1
 0.224541       1
 0.714621       1
 0.072036       1
 0.852335       1
 Name: cont1, dtype: int64, 0.555782    20975
 0.620805    20190
 0.488789    18725
 0.737068    17451
 0.422197    16945
 0.785784    15475
 0.681761    14721
 0.358319    14370
 0.299102    11578
 0.245921     9423
 0.827585     7032
 0.199504     6917
 0.159990     5313
 0.127059     3257
 0.100099     2025
 0.078346     1388
 0.061000      774
 0.047297      587
 0.036553      365
 0.028177      177
 0.862654      176
 0.021677      133
 0.016651       85
 0.012775       69
 0.009792       52
 0.007501       35
 0.005742       26
 0.004394       25
 0.003362       12
 0.002571        7
 0.001966        5
 0.001503        3
 0.001149        2
 Name: cont2, dtype: int64, 0.549770    16490
 0.506105     9180
 0.484196     9174
 0.527991     8247
 0.336963     7531
 0.613660     7478
 0.692825     7105
 0.440642     6834
 0.592681     6437
 0.571360     6190
 0.215772     5585
 0.634224     5466
 0.462347     5350
 0.280933     5282
 0.711159     5259
 0.230975     5134
 0.263570     4962
 0.944251     4656
 0.673861     4153
 0.397983     3971
 0.745801     3697
 0.201309     3524
 0.419161     3413
 0.654310     3357
 0.728827     2984
 0.246911     2807
 0.792378     2700
 0.317666     2652
 0.356819     2624
 0.174588     2354
             ...
 0.855403      485
 0.865911      479
 0.832339      452
 0.111114      450
 0.080909      306
 0.875767      301
 0.074626      272
 0.041833      251
 0.884994      208
 0.102746      138
 0.901670      132
 0.063386      116
 0.893620      113
 0.049453      105
 0.916157       97
 0.002634       83
 0.087672       64
 0.922649       63
 0.068793       60
 0.032474       50
 0.038457       41
 0.058376       39
 0.928678       36
 0.035344       10
 0.053740        9
 0.029830        7
 0.027395        6
 0.045491        4
 0.934270        3
 0.025153        1
 Name: cont3, dtype: int64, 0.373816    9730
 0.473202    7887
 0.327354    6852
 0.309621    5830
 0.452887    5375
 0.432728    5143
 0.412789    4713
 0.208655    4691
 0.534409    4614
 0.623770    4276
 0.284048    4240
 0.761209    3952
 0.383428    3825
 0.833240    3707
 0.614134    3691
 0.493605    3419
 0.229617    3351
 0.705434    3338
 0.267727    3286
 0.564742    3217
 0.215482    3039
 0.189137    3030
 0.503820    2824
 0.259793    2784
 0.364302    2709
 0.463029    2503
 0.354893    2421
 0.554673    2414
 0.594598    2256
 0.236924    2250
             ...
 0.300956     469
 0.688173     469
 0.873871     468
 0.944513     438
 0.882607     405
 0.898510     376
 0.902176     371
 0.574758     332
 0.827485     320
 0.918784     311
 0.946616     297
 0.890812     279
 0.921781     220
 0.854731     165
 0.633309     151
 0.859731     147
 0.952482     117
 0.878306     106
 0.927473     102
 0.930174      96
 0.942332      70
 0.924676      68
 0.932782      30
 0.909155      29
 0.940071      25
 0.950598      19
 0.905723      15
 0.912473      15
 0.915682       3
 0.954297       1
 Name: cont4, dtype: int64, 0.281143    51926
 0.422268     9010
 0.302678     7840
 0.372405     4657
 0.594196     3719
 0.783230     3483
 0.551723     3428
 0.534484     3281
 0.388783     3148
 0.491114     3098
 0.397069     3014
 0.758711     3001
 0.499798     2974
 0.718531     2904
 0.295397     2690
 0.811271     2601
 0.413817     2253
 0.405415     2217
 0.288217     2198
 0.525831     2152
 0.380560     2111
 0.473767     2083
 0.348388     2013
 0.517162     1978
 0.619060     1746
 0.696981     1663
 0.725503     1628
 0.310061     1587
 0.340543     1586
 0.889301     1553
             ...
 0.943383       60
 0.961950       50
 0.957946       49
 0.981286       41
 0.892675       37
 0.964413       36
 0.973717       36
 0.928905       25
 0.953541       22
 0.948699       21
 0.941499       21
 0.926576       18
 0.972813       10
 0.945210        9
 0.977049        8
 0.979967        6
 0.969917        5
 0.970914        5
 0.980637        4
 0.967822        3
 0.975438        3
 0.979273        2
 0.956524        2
 0.968886        2
 0.971879        2
 0.983674        2
 0.978556        1
 0.981914        1
 0.966722        1
 0.935487        1
 Name: cont5, dtype: int64, 0.373500    3049
 0.364464    2474
 0.240069    2103
 0.317735    1544
 0.201125    1526
 0.220686    1132
 0.252511    1080
 0.379574    1067
 0.220282    1044
 0.336105    1009
 0.287716     955
 0.331919     869
 0.290374     847
 0.416181     821
 0.408772     805
 0.690970     796
 0.350956     788
 0.385129     760
 0.688705     760
 0.326207     747
 0.351223     744
 0.460158     730
 0.438917     716
 0.345883     693
 0.456654     687
 0.344288     673
 0.357412     667
 0.369930     663
 0.636189     660
 0.337155     644
             ...
 0.680069       1
 0.217267       1
 0.653691       1
 0.470105       1
 0.257651       1
 0.904043       1
 0.837007       1
 0.889821       1

Drop

In [140]:
outcome = train.loss
train.drop(['id', 'loss'], axis=1, inplace=True)
testId = test['id']
test.drop(['id'], axis=1, inplace=True)
train['Test'] = False
test['Test'] = True
data = pd.concat([train, test], ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'loss'

,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,cat10,...,cat107,cat108,cat109,cat110,cat111,cat112,cat113,cat114,cat115,cat116
0,A,B,A,B,A,A,A,A,B,A,...,J,G,BU,BC,C,AS,S,A,O,LB
1,A,B,A,A,A,A,A,A,B,B,...,K,K,BI,CQ,A,AV,BM,A,O,DP
2,A,B,A,A,B,A,A,A,B,B,...,F,A,AB,DK,A,C,AF,A,I,GK
3,B,B,A,B,A,A,A,A,B,A,...,K,K,BI,CS,C,N,AE,A,O,DJ
4,A,B,A,B,A,A,A,A,B,B,...,G,B,H,C,C,Y,BM,A,K,CK

In [139]:
data = pd.get_dummies(data, columns=data.columns[:116])

KeyboardInterrupt:

In [97]:
data.columns

Index(['cont1', 'cont2', 'cont3', 'cont4', 'cont5', 'cont6', 'cont7', 'cont8',
       'cont9', 'cont10',
       ...
       'cat116_P', 'cat116_Q', 'cat116_R', 'cat116_S', 'cat116_T', 'cat116_U',
       'cat116_V', 'cat116_W', 'cat116_X', 'cat116_Y'],
      dtype='object', length=1191)

## Machine Learning

In [98]:
train = data[data.Test == 0].drop('Test', axis=1).copy()
test = data[data.Test == 1].drop('Test', axis=1).copy()
del data

In [107]:
X = train
y = outcome
Xtr, Xval, ytr, yval = train_test_split(X, y, test_size=0.15, random_state=777)

In [108]:
Xtr.shape, Xval.shape

((160070, 1190), (28248, 1190))

### Linear regression

In [ ]:
lr = LinearRegression()

In [112]:
lr.fit(Xtr,ytr)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [128]:
lr_pred_val = lr.predict(Xval)

In [129]:
lr_mae = mean_absolute_error(yval, lr_pred_val, sample_weight=None, multioutput='uniform_average')

In [130]:
lr_mae

16111576285.918974

In [131]:
#print('Train correct prediction: ', lr.score(Xtr, ytr))
#print('Validation correct prediction: ', lr.score(Xval, yval))

In [134]:
lr_pred = lr.predict(test)

In [135]:
lr_submit = pd.DataFrame({'id': testId, 'loss': lr_pred})

In [136]:
lr_submit.head()

   id     loss
0   4   1156.0
1   6   2150.0
2   9  11316.0
3  12   5971.0
4  15    237.0

In [138]:
lr_submit.to_csv('../output/2016-11-11-bff-linear-regression.csv', index=False)

### Random forest

In [150]:
rf1 = RandomForestRegressor(criterion="mae")

In [ ]:
rf = RandomForestRegressor(n_estimators = 100, criterion="mae")

In [ ]:
rf1.fit(Xtr, ytr)

In [ ]:
rf_pred_val = rf.predict(Xval)